- var lang = current.path[0]? current.path[0] : 'en'
- var people = public._data.people
- var contrib = {}
 
extends ./_utl_layout.jade

block sideContent
  p.cs-meta #[span.fw-hev Want to get involved? ] 
  p.cs-meta #[a(href="./jobs") View open positions]
  p.cs-meta #[a(href="https://opencollective.com/newdesigncongress" target="_blank").ext Become a subscriber] 

block mainContent
  article.lyt-txt.cs-txt
    .ma-reg.team
      each member in team.members
        .team-member.ma-reg
          img(src="../assets/img/team/#{ member }.png").ma-sml
          p: #[a(href="#{ people[member].url }" target="_blank").ext #{ people[member].name }]
          p.ff-sans.fs-sml.fw-hev.ma-sml #{ people[member].role }
          p #{ people[member].bio }
    h3 #{ team.collab }
    .ma-reg.collab
      ul
        each collaborator in team.credits
          li.collab-member.ma-sml
            span: #[a(href="#{ people[collaborator].url }" target="_blank").ext #{ people[collaborator].name }]
            span.ff-sans.fs-sml #{ people[collaborator].role }

