- var base = '/assets/pub/finsbury-park-2025'

input(type="checkbox")#toggleFootnotes
article.lyt-article

  .lyt-row
    .lyt-txt.mcw-reg.ma-hge: p In 2020, NASA prepares a mission to colonise Mars. Alone in the expanse, the desire to set sail into the void is understandable for a frightened globe. A planetary health check reveals the terrible reality: countless lost species and one million additionally at risk of extinction, their erasure a direct result of relentless human activity. Five years later, an inter-species diplomatic mission convenes to negotiate a mutually assured agreement to reclaim the battered living, mechanical and digital systems for mutual care and respect.
    .lyt-fn
      .fn.ma-reg
        p.ma-sml In partnership with
        a(href="https://furtherfield.org" target="_blank")
          img(src="/assets/logos/furtherfield_logo.png" alt="Furtherfield Logo")
      .fn.ma-reg
        ul
          li Podcast: #[a(href="https://soundcloud.com/furtherfield/news-from-where-we-are-1" target="_blank") Interview with Cade and Ruth]
          li Furtherfield: #[a(href="https://www.furtherfield.org/citizen-sci-fi-programme-2019-2021/" target="_blank") Citizen Sci-Fi Programme]
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p: #[em The Treaty of Finsbury Park 2025] is a future event in which a multi-species delegation negotiates an unprecedented mutual agreement on behalf of all organisms in the face of an unprecedented threat. It is conceived as part of Furtherfield’s #[em Citizen Sci-Fi] program, and #[label(for="toggleFootnotes") is centred around the 2021 theme, #[em Love Machines]]. At Summer Solstice 2021, we will play a game with various characters to imagine Finsbury Park as the site of revolution across urban green space. This will be played as a #[em Live Action Role Play] (LARP).
    
    .lyt-fn
      != partial("../../_partials/pub/note", { type: "note", title: "The Treaty of Finsbury Park 2025 was postponed by a year in early 2020 following the catastrophic COVID–19 pandemic" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p At its core is a central provocation: humans live in highly curated isolation, alienated from a planet teeming with life, by the imperialist systems of domination that we have created to control it. Rather than nurturing kinship with the vibrant ecologies of creatures in our own world, we try to cure this loneliness by seeking companionship from our machines or look far beyond our own realms for signs of life.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h3 Context
      p The #[em Love Machines] LARP in Finsbury Park seizes upon and exploits the contradictions of machine-induced isolation and disconnection. It explores these themes  whilst centring itself around its players, who are immersed and embedded in urban green space. It re-programmes the rituals of imperialism in order to renegotiate terms for a new society of creatures. #[em The Treaty of Finsbury Park 2025] is an equal part serious/critical/playful/humorous event that interrogates and subverts the practices and protocols of a state visit. 

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The #[em Love Machines] LARP reframes Finsbury Park as a city state within a city state itself, and employs both statist power rituals (such as closed-door negotiations, state dinners and ceremony) and hyper-technological process (application programming interfaces, network topologies, complexification, etc) to provoke new perspectives on green ecologies and how we perceive them. The result is twofold: 
        ol
          li A vivid participatory exploration of the role of ritualistic power, performed within the park, drawn from current and historical contexts and meticulously documented and filtered through a highly controlled public relations effort; and 
          li A set of collective work by “visiting dignitaries” that interprets the ecology as a network — a complicated state with extensive human generated documentation and systems of infrastructure of its own, and ultimately explores the role of colonial power in contributing to the urgent ecological precarity of today.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[em Love Machines] recognises the ecologies of urban green space as a political actor – one at heightened risk and with a shattered sense of autonomy. At this precipice of ecological collapse, #[em Love Machines] seeks to derive a deeper, more personal understanding of the systems of autonomy and manifest destiny inherent in this networked ecology and advocate for it by drawing on the powerful but problematic tools employed by the states that can consolidate power. 

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In parallel, we must not force creatures to speak to us on our terms. Rather, we must learn new ways to listen and cohabit with the urban green ecology. We must allow relations to bloom through language, touch and a newfound intimacy, and commit to the evolution of cooperation across difference.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 Ecologies as Networks. Machines as Ecologies
      p Homosapiens lead a remarkably lonely existence. For centuries, we have sought companionship in the domination or domestication of other species — both primitive examples of our desire to define the terms of how we interact with the world. Beyond cultivating these non-negotiable relationships, we dream of companionship, and seek it from afar, both through the machines built by our hands and #[label(for="toggleFootnotes") from the stars as we seek to communicate with extraterrestrial life.]

    .lyt-fn
      .fn.ma-reg
        img(src="#{ base }/wow.jpg").ma-sml
        p #[a(href="https://www.seti.org/was-it-et-line-or-just-comet" target="_blank") The “WOW!” signal], captured by radio telescope by researchers in 1977, is widely interpreted to represent a deliberate and cohesive signal sent to Earth despite no additional evidence.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Although we have so far failed with the sky, we have made greater but flawed progress dictating the terms of companionship to machines. Our work here is twofold: we build tools to see and listen to more of our environment, and we fabricate networks and interfaces to communicate and emulate. It is significant that much of our collective work on building electronic intelligence is funded by military, distribution or advertising efforts. In one absurd example, #[label(for="toggleFootnotes") these technologies are curated together to create a robotic personal assistant that can impersonate human qualities to fool waitstaff when booking a restaurant.]
    
    .lyt-fn
      .fn.ma-reg
        video(disablePictureInPicture autoplay muted loop playsinline src='#{ base }/ga.mp4') 
        a(href="https://www.youtube.com/watch?v=-qCanuYrR0g" target="_blank") Demonstration of Google's attempts to create an Assistant with a human fascade.
        p Google, 2018

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The race to architect companionship via machine-powered communication is just as lonely. For all of the work on artificial intelligence, the outcomes are built from interface paradigms that have existed since the 1960s. What is a WhatsApp-powered interaction with a corporation, if not a human powered version of #[em #[label(for="toggleFootnotes") ELIZA]]? We seek artificial companionship whilst disregarding the ecologies in our own world. 
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://cse.buffalo.edu/~rapaport/572/S02/weizenbaum.eliza.1966.pdf",  title:"ELIZA – A Computer Program for the Study of Natural Language Communication Between Man And Machine", source:"Joseph Weizenbaum", platform:"Computational Linguistics", date:"January 1966" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Within fragmented technocultures, our own social companionship is found in the intersection between roleplay and the painful realities of our social hierarchies and the natural world. The evidence of this is all around us; #[label(for="toggleFootnotes") Livestreaming], the #[label(toggleFootnotes) exploding popularity of furry culture], performative social networks like VRChat and open roleplay gaming. The painstaking digitral recreations of #[label(for="toggleFootnotes") hyper-realistic lush pre-Anthropocene Earth] and alien worlds.

      img(src="#{ base }/facerig.jpg" alt="A screenshot of a 3D shiba in Facerig")
      img(src="#{ base }/fc5.jpg" alt="A screenshot of Far Cry 5, overlooking a forest. The main player character wields a shotgun")
      img(src="#{ base }/vrchat.jpg" alt="Two catgirl avatars in VRChat")
    
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://press.aboutamazon.com/news-releases/news-release-details/amazoncom-acquire-twitch",  title:"Amazon.com to Acquire Twitch", source:"Amazon PR", date:"August 2014" }) 

      != partial("../../_partials/pub/note", { type:"site", link:"https://tealeafraccoon.github.io/FurCons2018/",  title:"Furry Convention Growth By the Numbers", source:"Tealeaf", date:"2 December 2018" })

      .fn.ma-reg
        p VRChat and immersive open world environments have poorly understood political and cultural significance. See #[a(href="/../our-artificial-wilderness" target="_blank") #[em Our Artificial Wilderness: Virtual Beauty and Ecological Decay]]
        p The New Design Congress, 2020.


  .lyt-row
    .lyt-txt.mcw-reg
      h4 Urban Governance and Non-Human Real Estate
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      label(for="toggleFootnotes") 
        img(src="#{ base }/othering.jpg").ma-sml
    .lyt-fn
      .fn.ma-reg
        p The act of ‘othering’ non-human entities and enforcing this through violence is not universal, but does exist in pre-modern societies.
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg      
      p Since the Industrial Revolution, all other organisms have existed at the absolute behest of a hierarchy organised entirely for the benefit of humans, and forced to cope with a variety of increasingly extreme challenges. We negotiate terms of co-existence with other planetary species and ecosystems by employing ever more complex systems of technological control.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In urban green landscapes, the species that occupy them maintain an uneasy truce with an environment terraformed by their human neighbours as dictated by particular #[label(for="toggleFootnotes") cultural directives driven by political, economic or social goals]. In many cases, these are not agricultural. Rather, these spaces are designated leisure and health facilities for the populations of working “poor.” They are created by industrialisation and their legacies are cultivated to manage human conflicts and antagonisms - to act as political overflow pipes. Urban green ecologies are valued and justified primarily as arenas for social leisure and conflict for human societies.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://people.utm.my/zanariahjasmani/files/2012/10/Urban-parks-and-resilience-theory_zanariah.pdf",  title:"Small urban parks and resilience theory: how to link human patterns and ecological functions for urban sustainability.", source:"Zanariah Jasmani", platform:"Department of Geosciences and Natural Resource Management, University of Copenhagen", date:"10 June 2013"})
      .fn.ma-reg
        p Examples of the codified understanding of designed urban ecologies are numerous, like New York City's #[em #[a(href="https://s3.amazonaws.com/assets.centralparknyc.org/pdfs/institute/Central-Park-Conservancy-Research-Guide.pdf" target="_blank") Central Park: A Research Guide]], by Central Park Conservancy.
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p As such, green ecosystems often take the form of ‘states within states’, without autonomy, administered as semi-‘natural’ holes punched into grey concrete grids. Forced to self manage, and sometimes with outside administration, these ecosystems are by their definition under siege. Whether incidental cohabitation spaces within broader hostile environments or designed as ‘#[label(for="toggleFootnotes") planned spaces]’, the whip hand of antiquated human dictates govern the terms for existence for the organisms that occupy this space.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"hhttps://www.researchgate.net/publication/257616980_Urban_landscape_sustainability_and_resilience_The_promise_and_challenges_of_integrating_ecology_with_urban_planning_and_design",  title:"Urban landscape sustainability and resilience: The promise and challenges of integrating ecology with urban planning and design", source:"Jack Ahern", platform:"Landscape Ecology", date:"July 2012"})
      
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Regardless of the capitalist terms under which these ecologies exist, they comprise vast worlds unseen (or feared) by human populations where nodes and inhabitants exist both in defiance of concrete and motorcar, but also as vibrant networks of resilience and mutual support. 

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 Humans as the Incurious Monolinguist
  .lyt-row      
    .lyt-txt.mcw-reg.ma-reg
      label(for="toggleFootnotes")
        img(src="#{ base }/koko-asl.png").ma-sml
    .lyt-fn
      .fn.ma-reg
        p A selection of words understood by #[a(href="https://www.koko.org/" target="_blank") Koko] (1971–2018), a Western gorilla known internationally for her ability to communicate via American Sign Language, and her #[a(href="https://www.youtube.com/watch?v=gR6MeFFzqQ8" target="_blank") pet keeping].
  
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Zoologists and animal psychologists who have dedicated their working lives to cross-species communication have traditionally existed as a sort of scientific curiosity to the wider world. The same is true of creatures that overly signal their attempt to communicate with us. Animals like #[label(for="toggleFootnotes") Koko, a gorilla who was able to communicate with humans on our terms], are both rare curiosities and clumsy examples. While it remains a breathtaking feat to teach a gorilla American Sign Language, these interactions typically require the non-human to acquiesce towards the human. #[label(for="toggleFootnotes") One species learns the second language, not the other.]
    
    .lyt-fn
      .fn.ma-reg
        p For example, framing the intelligence of New Caledonian crows via casual relationships theory, as seen in #[a(href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0092895" target="_blank") Using the Aesop’s Fable Paradigm to Investigate Causal Understanding of Water Displacement by New Caledonian Crows], Sarah A. Jelbert et al. PLOS One, March 2014.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In 2019, Virginia Tech researchers published a #[label(for="toggleFootnotes") breakthrough paper that described their efforts to translate the language of honey bees]. Through decoding “waggle dances,” the team could sustain efforts to support and understand these insects and their preferences for foraging and their understanding of landscapes. Unlike Koko, this represents a rarer effort; allowing another species to (unwittingly) #[label(for="toggleFootnotes") communicate their lived experience to the listening homosapien].
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://www.sciencedirect.com/science/article/abs/pii/S000334721930017X?via=ihub",  title:"Dismantling Babel: creation of a universal calibration for honey bee waggle dance decoding", source:"Roger Schürch et al.", platform:"Animal Behaviour", date:"April 2019" })

      != partial("../../_partials/pub/note", { type:"site", link:"https://www.thenewatlantis.com/publications/do-elephants-have-souls",  title:"Do Elephants Have Souls?", source:"Caitrin Keiper", platform:"The New Atlantis", date:"Winter 2013" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Beyond bees and gorillas, the #[label(for="toggleFootnotes") Cartesian belief that drives the denial of non-homosapien rationality], community and feeling culminates in a deliberate dismissal of the polyphonic world around us. In denying the same intellectual and emotional affordances we grant ourselves to our planetary cohabitants, #[label(for="toggleFootnotes") most of what we know about the lived experiences of non-humans is wrong]. While we violently reappropriate habitats, #[label(for="toggleFootnotes") those under siege mourn, fight back and teach each other to survive, all universally recognisable forms of resistance and solidarity]. While we search for beings with qualities such as autonomy, empathy and intelligence in space and attempt to build them ourselves, the beyond-human living world is a vibrant social infrastructure network #[label(for="toggleFootnotes") coping with our ignorance]. 

    .lyt-fn
      .fn.ma-reg(style="float: left")
        a(href="https://www.akpress.org/fear-of-the-animal-planet-e-book.html" target="_blank")
          img(src="#{ base }/fear-of-the-animal-planet.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem;")
          | Fear of the Animal Planet: The Hidden History of Animal Resistance
        p Jason Hribal, AK Press
        date 2010

      .fn.ma-reg(style="float: left")
        a(href="https://www.akpress.org/fear-of-the-animal-planet-e-book.html" target="_blank")
          img(src="#{ base }/mourning-animals.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem;")
          | Mourning Animals: Rituals and Practices Surrounding Animal Death
        p Margo DeMello et al., Michigan State University
        date 2016

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[label(for="toggleFootnotes") This unenlightened state is not a universal human perspective], but today it is pervasive. Monolingualism  is embedded across societies, regardless of economic or political affiliation and often the most extreme examples are forged in communion with intuitions of landscape and organisms, through appallingly stunted interpretations of them by colonial thinkers. Examples of such thinking are numerous in all cases of colonial contact with “untamed savages” in “undiscovered wildernesses”, but a visceral example can be found in the discovery of the land that would later become Melbourne, Australia by European colonialists, as retold by Bruce Pascoe:
    .lyt-fn
      .fn.ma-reg
        video(disablePictureInPicture autoplay muted loop playsinline src='#{ base }/fi.mp4' style="width:45%; float:left; margin-right: 0.5rem").ma-sml
        a(href="https://twitter.com/keatxngrant/status/1147237365678845952" target="_blank") A Sulphur-crested Cockatoo forcefully removes anti-bird spikes mounted to a building in Australia.
        p @keatxngrant
        p Date unknown
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      blockquote
        p: em #[label(for="toggleFootnotes") “Isaac Batey saw that the hillsides of Melbourne were terraced in the process of yam production and that the tilth of the soil was so light you could run your fingers through it. [Sir Thomas] Mitchell saw these yam fields stretching as far as he could see near Gariwerd (Grampians). He extolled the beauty of these plains assuming that God had made them so that he could ‘discover’ them, not once thinking how peculiar it was for the best soil in the country to have almost no trees.”]
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://meanjin.com.au/essays/11312/",  title:"Australia: Temper and Bias", source:"Bruce Pascoe", platform:"Meanjin", date:"Spring 2018" })
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The attribution of Indigenous agricultural processes to the work of a white God is a perfectly encapsulated example of the poisoned belief systems that led to, amongst many other crimes, a system of organising landscapes and economies in which a key consequence was accelerating eco-genocide.  Equally important is how this same worldview now poisons mobilisation in response to this self-inflicted threat. Much like Batey and Mitchell’s delusional personal gift from God, it is beyond dishonest to describe the symbolic act of a Western government recognising ecological collapse in 2019 as a ‘world first,’ given that representatives of vulnerable states have mobilised for decades against parasitic imperialism, often losing their lives in the process. In times of immediate crisis, such as the COVID—19 worldwide pandemic, colonialist intellectualism and policy ignores at our collective peril these Indigenous perspectives that have argued that #[em we must treat the world as an interconnected, living organism with supreme complexity, fragile resilience and indeed, mystique.]
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.opendemocracy.net/en/can-europe-make-it/covid-19-epistemic-condition/",  title:"COVID-19: on the epistemic condition", source:"Xiang Zairong", platform:"openDemocracy", date:"6 April 2020" })
      .fn.ma-reg
        img(src="#{ base }/yam.png")

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 Performative Power Rituals as Instigators of Change

  .lyt-row
    .lyt-txt.lyt-gc2.ma-lrg
      .lyt-img-row
        img(src="#{ base }/state-ritual.jpg")
        img(src="#{ base }/fine-dining.jpg")
        img(src="#{ base }/treaty-historic.jpg")

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In 1259 BC, the #[label(for="toggleFootnotes") Egyptian-Hittite peace treaty was signed, ending a decades-long conflict between two early civilisations]. This document is significant, as it represents the earliest example of an international peace treaty between enemy human states, a ritualistic document produced by two deeply ritualistic cultures.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"paper", link:"https://web.archive.org/web/20170305063821/http://www.nm.cz/publikace/publikace-download.php?name=File1&dir=archiv&table=tabPublikaceArchiv&id=4520",  title:"Lost in Translation. An Egyptological Perspective on the Egyptian-Hittite Treaties", source:"Jana Mynářová", platform:"Náprstek Museum", date:"2014" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p All human societies have #[label(for="toggleFootnotes") deeply intricate state and religious rituals. From the theatrics of court jesters to the chants and rites performed by priests, ritual is an essential component to the generation of state and religious power]. Of its many available performative tools, state power often elects elaborate dinners as a ritualistic setting for exploration, negotiation and agreement. Oftentimes forged behind closed doors, participants emerge victorious for a #[label(for="toggleFootnotes") public, ceremonial signing of documents].

    .lyt-fn
      .fn.ma-reg(style="float: left")
        a(href="https://www.palgrave.com/gp/book/9783319441849" target="_blank")
          img(src="#{ base }/emotion-ritual-power.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem;")
          | Emotion, Ritual and Power in Europe, 1200–1920
        p Merridee L. Bailey, Katie Barclay et al., Palgrave Macmillan
        date 2017
      != partial("../../_partials/pub/note", { type:"event", link:"httphttps://globalcenters.columbia.edu/events/conference-beyond-table-politics-eating",  title:"Beyond the table: The Politics of Eating", source:"Columbia University", date:"April 2018" })


  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p State aesthetics and theatrics impart narrative and gravity to political events, conveying power and wealth to all observers. Employing a universal language overcoming complex inter-cultural barriers, their curation and execution themselves can be highly complex and political acts. 
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.docsteach.org/documents/document/invitation-for-the-state-dinner-on-the-occasion-of-the-signing-of-the-egyptianisraeli-peace-treaty",  title:"Invitation for the State Dinner on the Occasion of the Signing of the Egyptian-Israeli Peace Treaty", source:"Records of the First Lady's Office", platform:"The Carter Administration", date:"26 March 1979" })


  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[label(for="toggleFootnotes") Much has been written about the power of social eating (for example, familial households meals, Western forms of courtship, 20th Century political cafe culture)]. But the power of ritualistic decision-making remains an under-utilised resource for those on the left looking to establish power. In our modern connected urban societies, ineffective alternatives (such as online organisation) have arguably restricted the ability for political instigation to morph into cohesive narrative and action.
    .lyt-fn.ma-reg
      .fn.ma-reg(style="float: left")
        a(href="https://www.lit-verlag.de/publikationen/kulturwissenschaft/69310/politische-mahlzeiten.-political-meals" target="_blank")
          img(src="#{ base }/politische-mahlzeiten.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 1rem;")
          | Politische Mahlzeiten
        p Regina F. Bendix, Michaela Fenske (Hg.), Wissenschaftsforum Kulinaristik
        date 2014
      .fn.ma-reg(style="float: left")
        a(href="https://https://www.cambridge.org/core/books/ritual-play-and-belief-in-evolution-and-early-human-societies/ED6B15FF9A7E11A84F438FD0736C545E" target="_blank")
          img(src="#{ base }/ritual-play.png" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem;margin-bottom: 2rem;")
          | Ritual, Play and Belief, in Evolution and Early Human Societies
        p Colin Renfrew, Iain Morley, Michael Boyd, et al., Cambridge University Press
        date December 2017

  .lyt-row.ma-reg
    .lyt-txt.lyt-gc2
      img(src="#{ base }/fb.jpg").ma-sml
      p(style="text-align: center;").cs-sml "The Signing Ceremony”, by #[a(href="https://www.instagram.com/oh_hai_ku/" target="_blank") Sajan Rai], 2020.
  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      blockquote 
      p: em #[label(for="toggleFootnotes") “The Love Machine Protocol has been invoked! The Finsbury Park assembly is to meet and the Treaty will be signed at sunset on the 2025 Summer Solstice. Politics is transformed!”]
    .lyt-fn
      .fn.ma-reg
        p Eyewitness account on the eve of the signing of the Treaty of Finsbury Park, 2025
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The 1969 “Treaty on Treaties” - the basis of international law for five decades, enforced, monitored and sanctioned by human and technical military might - is now outmoded. Instead, it is viewed as barbaric for the intense isolation and alienation it gave rise to in human society and for the way it enabled systems that ruthlessly brought planetary life to the brink of annihilation.
    .lyt-fn
      .fn.ma-reg
        p The colloquial name for the #[a(href="https://en.m.wikipedia.org/wiki/Vienna_Convention_on_the_Law_of_Treaties" target="_blank") Vienna Convention on the Law of Treaties].
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The #[label(for="toggleFootnotes") #[em Love Machine Protocol]] is now widely adopted by the vast majority of federated and nested assemblies world wide - this is the new politics - one which has incentivised the rapid adoption of multilingual and inter-special negotiation techniques and agreements. It is the global convention for negotiations involving complex living systems in contested temporal territories (called #[em “Placetimes”]); this elevates humans to the level of insight and enlightenment of other species creating a levelled political field for all organisms.
    .lyt-fn
      .fn.ma-reg
        p The origins of the #[em Love Machines] Protocol and the history between 2020–2025 that necessitated it remain the subject of intense debate
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 Preamble
      p We live in increasing isolation, alienated from a planet teeming with life by the imperialist systems of domination that we have created to control it. Rather than nurturing kinship with the vibrant ecologies of creatures in our own world we try to cure this loneliness by seeking companionship from our machines or look far beyond our own realms for signs of life.
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The #[em Love Machines] Live Action Role Play (LARP) reprogrammes the rituals of imperialism in order to renegotiate terms for a new human and non-human society in Finsbury Park. A visiting delegation of artists, armed with park blueprints and documentation, bylaws, data-sources and policies, work with local delegates who present testimony from the many lives of the urban green space. All manner of Finsbury Park life forms and systems are given a place at the table - from creatures deep underground, to the methods of management that sit underneath people's experiences of the park. Artist visitors will meet with each group and find new ways to talk to them. A 3 day deliberation about the mutual interests of the lives of this ecology culminates with new commitments to the #[em “Love Machines Protocol”], made and formalised with a Treaty signing at the 2021 Summer Solstice. 
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The resulting commitments are assembled as a sort of Application Programme Interface (API), a carefully designed set of empathetic electronic and biological behaviours and interactions, enabling future users to operate the park as a love machine in the higher interest of all living entities and systems. 
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p These are then presented as part of the 2021 #[em Citizen Sci-Fi] exhibition at Furtherfield gallery and online, a sincere demand to reconsider the self-isolation and othering of humans against the rest of the planet, made urgent by the ongoing ecological collapse. 
  .lyt-row
    .lyt-txt.lyt-gc2
      img(src="#{ base }/finsbury-park-drone.jpg")
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 The Protocol
      p The #[em Love Machines Protocol] is invoked by self-forming multispecies assemblies in moments of significant harm, suffering or peril. In order to invoke the protocol they must define the physical boundaries, declare a new #[em “Placetime”] and  appoint skilled envoys to communicate their multiple interests. They issue an invitation to a nomadic collective of and contemporary but incomplete experts from the Artists’ State, a delegation from the outside world. 
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[em Placetime] envoys are joined by a delegation from the Artists' State for negotiations. They are sealed off (in buildings on the disputed site) from the natural environment, communication networks, and electromagnetic fields for 2 days during daylight hours. 
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p While cloistered, they undertake a series of rituals, informatics and creative processes (learned from machine and living systems) to create a #[label(for="toggleFootnotes") #[em “Interspecies Seeing Room”]] for the living and built ecologies the Placetime. In this way they develop a shared vision of needs, natures and mutual potentialities and a nuanced understanding of the traits of the #[em Placetime].
    .lyt-fn
      .fn.ma-reg
        p Drawing inspiration from Brett Victor et al. #[a(href="https://dynamicland.org/" target="_blank") Dynamicland], ongoing.
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Together they compose a Treaty underpinned by an API signed by all participants that enables future users to operate the park as a Love Machine in the higher interest of all living entities of the new Finsbury Park #[em Placetime].
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      h4 Sites of Engagement
  .lyt-row
    .lyt-txt.mcw-reg
      h5 #[label(for="toggleFootnotes") Finsbury Park]
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p This public park in the London neighbourhood of Harringay was established in the Victorian era. Now this urban green space like all across the world - occupied by diverse life-forms, communities, communication and information systems - and should be recognised as an occupied state at heightened risk. The Treaty signing event will take place somewhere across its grassy fields and it will be the first Treaty of its kind.
    .lyt-fn
      .fn
        img(src="#{ base }/finsbury-park.jpg" alt="A digitally corrupted photo of Finsbury Park, London.")
  .lyt-row
    .lyt-txt.mcw-reg
      h5 #[label(for="toggleFootnotes") Furtherfield Commons]
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p For 3 days the community space and its surrounding gardens are repurposed as a #[em “interspecies seeing room”] for the living and built ecologies of the park. Reproducing the conditions of machine-induced isolation and disconnection, though immersed and embedded in urban green space, participants will be disconnected from all natural and communication systems during daylight hours. 
    .lyt-fn
      .fn
        img(src="#{ base }/furtherfield-commons.jpg" alt="A digitally corrupted photo of the front of Furtherfield Commons, Finsbury Park, London.")
  .lyt-row
    .lyt-txt.mcw-reg
      h5 #[label(for="toggleFootnotes") Furtherfield Gallery]
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Based in the heart of Finsbury Park in 2021 Furtherfield Gallery hosted the #[em Love Machines] exhibition during the second year of its 3-year #[em Citizen Sci-Fi] programme. This combines citizen science and citizen journalism by crowdsourcing the imagination of local park users and community groups to create new visions and models of stewardship for public, urban green space. Visitors to this exhibition are invited to contribute to the formation of the Finsbury Park Treaty, a series of interactions that would eventually see the park realised as a #[em Love Machine].
    .lyt-fn
      .fn
        img(src="#{ base }/furtherfield-gallery.jpg" alt="A digitally corrupted photo of the front of Furtherfield Gallery, Finsbury Park, London.")
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[a(href="https://twitter.com/helveticade" target="_blank") Cade Diehm]
      p with #[a(href="https://twitter.com/furtherfield" target="_blank") Ruth Catlow]
      p Spring 2020 
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg  
      p Edited by Edward Anthony. 
      p With luck, The Treaty of Finsbury Park 2025 exhibition is planned for Summer 2021.
      
  label(for="toggleFootnotes").ui-close Close Footnotes
  label(for="toggleFootnotes").ui-open Open Footnotes
