- var base = '/assets/pub/our-artificial-wilderness'

input(type="checkbox")#toggleFootnotes
article.lyt-article

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The #[label(for="toggleFootnotes") 1990s and early 2000s popularised Massive Multiplayer Online Games], or MMOs. Games that featured open, virtual worlds in which a player can freely explore and approach objectives and whose narrative is drawn from the environment and game  mechanics. An open world game can be single or multiplayer, but it relies on interactions beyond the main game components or storyline.
    .lyt-fn
      .fn.ma-reg
        p.fw-hev Watch this essay:
        ul
          li Feb 2020: #[a(href="https://tv.undersco.re/videos/watch/aa073041-2012-4b06-ada1-70ecb04d771c" target="_blank") SIMSOCIETY with New Models]

      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=7yXs698AwgY",  title:"Worlds.com Launch Trailer", source:"WORLDS Incorporated", date:"circa 1999" })
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Open world games are extremely valuable. #[label(for="toggleFootnotes") Last decade, a handful of open world video games together were amongst the highest grossing properties across all forms of entertainment]. They are the direct descendants of the early "online world" entrepreneurs who believed that people would spend time in digital spaces -- gaming, shopping, socialising and interacting. The genre of each game shapes how people interact inside them. Some worlds centre primarily around combat or PvP (Player versus Player) competition but for games that focus on the world itself, players are encouraged to engage with the environment and each other on more diverse terms. For more popular games, #[em these interactions necessitated bridges into the real world]. Players would create content and avatars outside of the digital spaces and import them into the game.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"wikipedia", link:"https://en.wikipedia.org/wiki/2010s_in_video_games#Best-selling_games",  title:"2010 in video games: Best-selling games", source:"via Wikipedia" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Amongst the countless examples worldwide, there are three that capture this bridge between the real and virtual worlds. All have taken place in the last ten years. Although they are drawn from vastly different cultures, they all illustrate how meaningful and misunderstood the bridged space is.
  
  .lyt-row
    .lyt.txt.mcw-reg.ma-reg
      h3 I.

  .lyt-row.ma-lrg
    .fn.ma-reg.cs-tny.lyt-inline
      video(autoplay muted disablePictureInPicture controls loop playsinline src='#{ base }/mc-trailer.mp4')
      a(href="https://www.youtube.com/watch?v=MmB9b5njVbA" target="_blank") 
        p Minecraft Launch Trailer
      p Mojang Studios, 2011

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p.ma-reg Minecraft is possibly #[em the] most well-known and culturally significant open world game ever made. #[label(for="toggleFootnotes") Since its release in 2009, Minecraft now influences a second generation of players worldwide]. Minecraft refined a simple set of mechanics for exploration, procedural world generation and experimentation, and wrapped this in a calming, non threatening aesthetic. The mechanics of Minecraft spark decentralized creativity and self-determination in an artificial space that mimics many of the environmental components that make up our own planet. When combined with a simple in-game ecological ruleset, such as player hunger, animals and realistic proceedual world generation, Minecraft’s potential was fully realised. With no context, players start a new game of Minecraft with nothing and inhabit an anonymous character. From here, they form identity through self expression and interaction with others, then build tools, gather food, find shelter and explore the vast generative landscape. 

      p Minecraft is a roguelike game. Encounters with hostile creatures - such as the #[label(for="toggleFootnotes") iconic Creeper] - became #[label(for="toggleFootnotes") defining cultural artifacts during the 2010s]. Players drew narratives both from their interactions with each other, and the unexpected surprises thrown at them from the game’s systems. As a result, Minecraft feels somehow alive, and its visual limitations give way to a convincing and immersive, meaningful world that continues to generate untold numbers of shared, profound experiences.

    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.theverge.com/2020/5/18/21262045/minecraft-sales-monthly-players-statistics-youtube",  title:"Minecraft still incredibly popular as sales top 200 million and 126 million play monthly", source:"Tom Warren", platform:"The Verge", date:"18 May 2020" })
      .fn.ma-reg
        video(src="#{ base }/creeper.mp4" autoplay muted disablePictureInPicture loop playsinline) 
        | A Minecraft Creeper
        p Mojang Studios 
      .fn.ma-reg
        audio(controls)
          source(src="#{ base }/revenge.opus" type="audio/opus")
          source(src="#{ base }/revenge.mp3" type="audio/mpeg")
        p #[a(href="https://soundcloud.com/patayako/revengehatsune-miku-and-eleanor-forte-vocaloidsynthv-cover") Creeper Revenge/Hatsune Miku and Eleanor Forte Vocaloid Cover]
        p patayako, Soundcloud
        date 7 June 2019
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Minecraft’s popularity has endured over the decade. #[label(for="toggleFootnotes") It ebbs and flows generationally, resurging in 2019 after a mid-decade dip]. In search of more customisation and control over their worlds, players teach themselves rudimentary system administrator skills in the real world to set up and administer their own customised servers. #[label(for="toggleFootnotes") Teenagers learn the basics of networking and software modding, administer their own spaces and social groups form within them].
      
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"data", link:"https://trends.google.com/trends/explore?date=today%205-y&geo=US&q=fortnite,minecraft,apex%20legends,pubg",  title:"5 year comparison between Fortnite, Minecraft, Apex Legends and PUBG", source:"Google Trends", date:"12 November 2020" })
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=Md2usFPiEx8",  title:"A detailed guide for setting up a Minecraft Server by an obscure young YouTuber", source:"CasterBerry Gaming", platform: "YouTube", date:"11 January 2020" })  

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p With a youthful demographic, many of these servers are transient that are discarded as players come of age and abandon the game. In this timeline, where computing power is abundant and cheap, this leads to a poignant and fragile phenomenon. #[label(for="toggleFootnotes") Thousands of servers run persistent Minecraft worlds], each a machine slotted away in a server farm, abandoned but still somehow online thanks to an overlooked monthly single digit charge on a parent’s credit card. 
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://minecraft-statistic.net/en/global_statistic.html",  title:"Global Realtime Minecraft Server Statistics", source:"Minecraft-Statistic.Net" })  

  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      p In cases where the servers were more permissive and discoverable, #[label(for="toggleFootnotes") there are countless stories of players forming deep online friendships through mutual cooperation and creativity]. These worlds are often intricate and full, shaped entirely by the activities of potentially hundreds of players over time. Many contain the artifacts of adolescent friendships forged within the visceral, creative open world. #[label(for="toggleFootnotes") A small but growing community of digital archaeologists spend time tracking these servers down]; they ‘dig’ for player-authored text and excavate digital artefacts that represent tangible and emotional forgotten youth.
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=GiSMUyPDFuk",  title:"Minecraft Memories: Prologue", source:"Magnus Dice", platform: "YouTube", date: "25 January 2020" })  

      != partial("../../_partials/pub/note", { type:"site", link:"https://reddit.com/r/minecraftdatamining",  title:"/r/MinecraftDataMining", source:"Reddit" })  

  .lyt-row
    .lyt-txt.mcw-reg.ma-sml
      #[label(for="toggleFootnotes"): img(src="#{ base }/mc-nostalgia.jpg").ma-sml]
  .lyt-row
    .lyt-txt.mcw-reg.ma-sml 
      p These can be beautiful, collectively built architectures of people who spend hundreds of hours working to landscape and shape a world together. #[label(for="toggleFootnotes") In one example, scraped by u/worldseed from a abandoned servers discovered in 2019], a player returns repeatedly over the course of 2015, leaving messages longing to reconnect with her former collaborators. Each of these signposts represents a return to the server, and the signpost is left with a message in the hope that someone else would think to rejoin and read it. In 2016, one of her friends does return, and answers her message with a reciprocating signpost. The story ends there.
    .lyt-fn 
      != partial("../../_partials/pub/note", { type:"site", link:"https://imgur.com/a/FQxE7#M8MAksd",  title:"A collection of datamined Minecraft servers from 2013 - 2016", source:"u/worldseed", platform: "/r/MinecraftDataMining", date: "8 February 2018" })  
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      #[label(for="toggleFootnotes "): img(src="#{ base }/mc-nostalgia-2.jpg").ma-sml]
  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      p These tiny moments of bottled lightning are concrete and visceral. Beyond nostalgic longing, players also designed and built monuments to people or events in their own lives, expressing deep love, loss or admiration for fellow players.

  .lyt-row
    .lyt-txt.lyt-gc2.ma-hge
      img(src="#{ base }/mc-amputee.jpg").ma-sml
      p A building designed as a monument for a double amputee.        

  .lyt-row
    .lyt-txt.lyt-gc2.ma-sml
      img(src="#{ base }/mc-love.jpg")
  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      p A labyrinth excavated under a mountaintop, designed and crafted by hand in the name of teenage love.

  .lyt-row
    .lyt-txt.lyt-gc2.ma-sml
      img(src="#{ base }/mc-island-1.jpg")
  .lyt-row
    .lyt-txt.mcw-reg.ma-sml
      p.ma-sml A tiny player-built island, discovered hundreds of game kilometres away from the world starting point that houses a heartbreaking memorial for a player.
  .lyt-row
    .lyt-txt.lyt-gc2.ma-hge
      img(src="#{ base }/mc-island-2.jpg")

  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      p These anonymous artefacts inherit a poignance from the open world, and it is this medium – Minecraft’s ecology and mechanics – that has shaped these experiences. Unlike the cold utility of a Facebook Memorial, or reading back through emails from a love lost, the open world shapes you and your memories. #[label(for="toggleFootnotes") We shape our tools and thereafter our tools shape us].
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"article", link:"https://webspace.royalroads.ca/llefevre/wp-content/uploads/sites/258/2017/08/A-Schoolmans-Guide-to-Marshall-McLuhan-1.pdf",  title:"A schoolman's guide to Marshall McLuhan", source:"John H. Culkin", platform:"The Saturday Review", date:"March 1967" })

  .lyt-row
    .lyt.txt.mcw-reg.ma-reg
      h3 II.
      
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p By the end of the decade, the open world genre had matured, buoyed by developments in hardware and refinement of the mechanics inherent in a world of simulated freedom. Designers had a deeper understanding what was possible and meaningful, having moved beyond the narrow scope of #[label(for="toggleFootnotes") combat-based 2000s MMOs and stiff Second-Life virtual worlds]. Players increasingly found rewarding experiences in semi-generative narrative structures that relied on complex simulation systems, technical and artistic flair, and player imagination.
    .lyt-fn
      .fn.ma-reg
        img(src="#{ base }/secondlife.jpg") 
        | Early #[a(href="https://secondlife.com/") Second Life] screenshot

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p In late 2018, Rockstar published the highly anticipated Red Dead Redemption 2, an open-world masterpiece that #[label(for="toggleFootnotes") enjoyed the largest opening weekend in the history of digital entertainment]. On the surface, its mass appeal seemed unlikely: Set in the early 1900s, Red Dead Redemption 2 is primarily a single player experience that tells the story of a comraderie of bandits as they travel across four fictional states in the American South and Midwestern wildernesses. Unlike traditional action games - fast paced, chaotic and adrenaline-fuelled - the pace of Red Dead Redemption is substantially slower, meditative, clumsy. Players must negotiate this vast landscape and are encouraged to roleplay in this world, crafting ammunition, sheltering from the weather, or browsing for supplies in #[label(for="toggleFootnotes") intricately detailed general stores].
    .lyt-fn
      .fn(style="float: left")
        a(href="https://www.rockstargames.com/reddeadredemption2/" target="_blank") 
          img(src="#{ base }/rdr2.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 2rem;")
          | Red Dead Redemption 2
        p Rockstar Games
        date 26 October 2018
      != partial("../../_partials/pub/note", { type:"press-release", link:"https://www.businesswire.com/ne`ws/home/20181030005459/en/",  title:" Red Dead Redemption 2 Achieves Entertainment’s Biggest Opening Weekend of All Time ", source:"Rockstar Games press release", date:"30 October 2018" })
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p.ma-reg By far Red Dead Redemption’s biggest drawcard is its immersion. Eight years in the making, the game is breathtakingly beautiful – full of soaring landscapes, sunrises and sunsets, distant lightning, wildlife, a living, breathing, teeming world. In this place, each second of its eight years of development had been seized upon and no detail was spared – right down to the insects in the moonlight. Each mechanic is designed to compel you into this world, to inhabit this blurred space between civilization and wilderness.
    .lyt-fn
      .fn.ma-reg
        img(src="#{ base }/rdr2-catalogue.jpg") 
        | Browsing a Gunsmith’s in-store catalogue in Red Dead Redemption 2

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      video(src="#{ base }/rdr2-landscapes.mp4" style="width: 100%" autoplay muted disablePictureInPicture loop playsinline)
      .fn.ma-reg
        p Lightning strikes a teeming, simulated 1899 American plains in Red Dead Redemption 2.
      p The vivid world of Red Dead Redemption 2 invokes a form of #[label(for="toggleFootnotes") climate grief through its beautiful, uncanny simulation]. This grief connects many open world games from the last ten years. Much like its contemporaries – #[label(for="toggleFootnotes") Far Cry 5], #[label(for="toggleFootnotes") Subnautica], #[label(for="toggleFootnotes") Abzû] – the world of Red Dead Redemption is based on actual locations. They may be fictionalised, but their landscapes are drawn from modern ecologies. One by one, each of these titles were published and each one took a step towards breaking through the uncanny valley, and into a hyperreal simulated diorama of the natural world. At the same time the real world locations they are based on went from endangered, to distressed, to, just gone. The vibrant forests of Far Cry, the teeming coral of Subnautica, aquatic serenity of Abzû. All received glowing praise for their opulent depictions of #[label(for="toggleFootnotes") real worlds that no longer exist].
    .lyt-fn.ma-reg
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.vice.com/en/article/wjvkby/gamings-climate-dread-in-a-4k-streaming-ecosystem",  title:"Gaming's Climate Dread in a 4K Streaming Ecosystem", source:"Lewis Gordon", platform:" Vice Magazine", date:"21 June 2019" })
      .fn(style="float: left")
        a(href="https://www.ubisoft.com/en-us/game/far-cry/far-cry-5" target="_blank") 
          img(src="#{ base }/fc5.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 2rem;")
          | Far Cry 5
        p Ubisoft Montreal, Ubisoft Toronto
        date March 27 2018
      .fn(style="float: left")
        a(href="https://unknownworlds.com/subnautica/" target="_blank") 
          img(src="#{ base }/subnautica.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 2rem;")
          | Subnautica
        p Unknown Worlds Entertainment
        date 23 January 2018
      .fn(style="float: left")
        a(href="https://abzugame.com" target="_blank") 
          img(src="#{ base }/abzu.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 2rem;")
          | Abzû
        p Giant Squid Studios
        date 2 August 2016
      != partial("../../_partials/pub/note", { type:"report", link:"https://nca2018.globalchange.gov/",  title:"Fourth National Climate Assessment", source:"U.S. Global Change Research Program", date:"2018" })

  .lyt-row
    .lyt-gc2     
      .lyt-img-row.ma-sml
        .img-row
          img(src="#{ base }/fc5-scene.webp" style="object-position: right;")    
        .img-row
          video(src="#{ base }/subnautica-scene.mp4" autoplay muted disablePictureInPicture loop playsinline)    
        .img-row
          video(src="#{ base }/abzu-scene.mp4" autoplay muted disablePictureInPicture loop playsinline)    
      img(src="#{ base }/tipping-points.jpg" style="width: 100%")  


  .lyt-row
    .lyt-txt.mcw-reg.ma-lrg
      != partial("../../_partials/pub/note", { type:"paper", link:"https://www.nature.com/articles/d41586-019-03595-0",  title:"Climate tipping points — too risky to bet against", source:"Timothy M. Lenton, Johan Rockström, Owen Gaffney, Stefan Rahmstorf, Katherine Richardson, Will Steffen & Hans Joachim Schellnhuber", platform: "Nature", date:"27 November 2019" })


  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p As the open world game came of age, it served a secondary purpose: for the first time, we produced simulations of real places that then – within our lifetimes – ceased to exist. A perverse sort of reverse-fiction, these real world ecologies slipped beyond our grasp, into sarcophaguses of glass and silicon, preserved via systems like #[label(for="toggleFootnotes") Unreal and Unity], and buried in remote servers as binary executables and downloadable content.
    .lyt-fn.ma-reg
      != partial("../../_partials/pub/note", { type:"press-release", link:"https://www.unrealengine.com/en-US/blog/a-first-look-at-unreal-engine-5",  title:"A first look at Unreal Engine 5", source:"Epic Games", date:"15 June 2020" })
      != partial("../../_partials/pub/note", { type:"site", link:"https://unity.com/",  title:"Unity 3D Development Platform", source:"Unity Technologies" })      

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p When loading the world of Red Dead Redemption, the dramatic reality of the Anthropocene is laid bare. Like a Minecraft digital memory, it’s tempting to speculate on how long it will take for these games to move from entertainment to memorial. Perhaps over the coming years we will come to consider each and every install of this game as a painful and permanent diorama of what our world once was.

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p The counterweight to the deep celebration of nature offered by Red Dead Redemption launched with jarring speed, arriving barely a year later in the form of #[label(for="toggleFootnotes") Hideo Kojima’s Death Stranding]. Set in a post-extinction United States, Death Stranding is an open world game with simple mechanics based around nation rebuilding, navigation, hiking and isolation. As its protagonist, players traverse an inhospitable Icelandic inspired landscape delivering packages to survivors you never meet, and connecting the remaining cities to the backbone of a future internet. Without a doubt, it is a product of the zeitgeist, and its treacherous landscape, fragile protagonist and unbearable isolation mirrors 2020 with an uncanny clairvoyance.  
    .lyt-fn
      .fn.ma-reg(style="float:left;")
        a(href="http://www.kojimaproductions.jp/en/death_stranding.html" target="_blank") 
          img(src="#{ base }/death-stranding.jpg" style="width:30%; float: left; margin-top: 0.5rem; margin-right: 1rem; margin-bottom: 2rem;")
          | Death Stranding
        p Kojima Productions
        date 8 November 2019
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.csiro.au/en/Research/Environment/Extreme-Events/Bushfire/preparing-for-climate-change/2019-20-bushfires-explainer",  title:"The 2019-20 bushfires: a CSIRO explainer", source:"CSIRO", date:"2020"})

  .lyt-row
    .lyt-txt.mcw-reg.ma-hge
      p In Death Stranding, players leave materials across the landscape, #[label(for="toggleFootnotes") invoking parallels to Patagonia-wearing Westerners littering their equipment across Everest or marching single file in cargo shorts across Uluru]. At the core its aesthetics are images of mass extinction via blackened species lifeless along the coastline. Death Stranding was published in November 2019, and #[label(for="toggleFootnotes") parallel images of charred mass death] emerged not even a month later from the bushfires in Australia, an eerie clarvoyance of unprecedented speed.
    .lyt-fn
      .fn.ma-reg
        img(src="#{ base }/australian-fires-kangaroo.jpg")
        p A kangaroo flees the 2020 Australian fires
        p Matthew Abbott, New York Times

  .lyt-row
    .lyt-gc2.ma-hge
      .lyt-img-row.ma-sml(style="flex-wrap: wrap-reverse;")
        .img-row
          video(src="#{ base }/uluru.mp4" autoplay muted disablePictureInPicture loop playsinline)  
        .img-row
          video(src="#{ base }/everest.mp4" autoplay muted disablePictureInPicture loop playsinline)    
        .img-row
          img(src="#{ base }/death-stranding-walking.webp")
          
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Beyond its exploration of deep adaptation and social distance, Death’s Stranding’s mechanics anticipates one of this new decade’s most pressing questions. Can societies maintain communities, organise, and work cooperatively in the face of ecological disaster and pandemic? While at first glance Death Stranding appears to be a single player affair, it is actually a globally connected experience with traces of the international player base everywhere. #[label(for="toggleFootnotes") Others who have navigated the landscape before you leave landmarks, signposts or tools to help you traverse the inhospitable landscape. In response, players can ‘react’ to these artefacts with a like – a Facebook-style like - and these are visible on each item in the world, creating an obscure and detached form of global accreditation and solidarity]. 
    .lyt-fn
      .fn.ma-reg
        a(href="#{ base }/death-stranding-ladder.webp" style="cursor:zoom-in")
          img(src="#{ base }/death-stranding-ladder.webp")
        p Examples of Death Stranding's player-assisted navigation. (Click to Zoom)
      
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[label(for="toggleFootnotes") Much has been written about this simple, constrained mechanic as a form of collectivism, of an anonymous playerbase lifting each other up, completing each other’s tasks, or leaving small visual messages that become deeply poignant once players are fully absorbed in the world]. The relief of a well placed ladder that helps you escape from a terrifying enemy is at once palpable, and somehow, paranormal. An ephemeral representation of solidarity in the face of overwhelming images and isolation.
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://cogconnected.com/2020/10/death-stranding-cure-lockdown-blues/",  title:"How Death Stranding's Revolutionary Online Mode Cured My Lockdown Blues", source:"Joseph Dakin", date:"23 October 2020" })
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=2Sf2tHg0lxc",  title:"What is Death Stranding ACTUALLY About?", source:"RagnaRox ", platform: "YouTube", date:"29 October 2019" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Death’s Stranding’s simple interface for collaboration and gratitude are limited, built from nothing more than object placement and a repurposing of the clunky utility of social media valor. But in the game’s timeline, in the landscape of the game’s United Cities of America, it is a way to project yourself into a beautiful, painful space. Death Stranding uses the hidden, powerful role of interfaces in an open world to foster a form of solidarity to a global consciousness all playing together. At the same time, its limitations are a strong criticism of how digital interfaces shape and atomise us, as the game deliberately amplifies the separation between the individual and the global network.

  .lyt-row
    .lyt.txt.mcw-reg.ma-reg
      h3 III.
  
  .lyt-row
    .fn.ma-lrg.cs-tny.lyt-inline
      video(autoplay muted disablePictureInPicture controls loop playsinline src='#{ base }/peakvrgameplay.mp4')
      a(href="https://www.youtube.com/watch?v=4X6xB2d06pA" target="_blank") 
        p A VR player struggles with his equipment
      p Taized, 23 January 2020

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Starting in 2015, the second renaissance of Virtual Reality began with the competing releases of the HTC Vice and Facebook Oculus headsets. Its hardware is still niche, but is fledging and now established on the outer realms of internet culture. VR and the Open World genre are natural fits, and the exploration of new mechanics and the lowering costs of hardware offer a promise of deeper immersion. 

  .lyt-row
    .lyt-txt.mcw-reg.ma-lrg
      p Today, platforms like VRChat offer significant broadening of the bridge between the real and virtual worlds. What started as simple systems in the 1990s are now much richer. VRChat is full of expressiveness provided by full body tracking hardware, accessible script languages, and the ability to interact and stream. These refinements to the mechanics of the open world genre allow an increasingly deep self-expression and connection with others. VRChat is crudely customisable, but somehow profound. Alongside the memes and edgy humour are #[label(for="toggleFootnotes") examples of viral testimony of isolated or traumatised players who connect with others through this synthesis of hardware and software]. VRChat is filled with mechanics borrowed from the open world, still somewhat separated, but rapidly merging together.
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=3X7dRWmnFr4&",  title:"People in VRChat share their heartbreak", source:"iamLucid", platform:"YouTube", date:"14 September 2020" })
      != partial("../../_partials/pub/note", { type:"video", link:"htthttps://www.youtube.com/watch?v=ZvKCpn4vnl4",  title:"Kid in VR talks about living with rare disease", source:"Syrmor", platform:"YouTube", date:"10 February 2019" })      
      != partial("../../_partials/pub/note", { type:"video", link:"htthttps://www.youtube.com/watch?v=ZvKCpn4vnl4",  title:"Young Girl loses her whole family - VRChat Stories", source:"iListen", platform:"YouTube", date:"28 July 2020" })

  .lyt-row
    .fn.ma-reg.cs-tny.lyt-inline
      video(disablePictureInPicture controls loop playsinline src='#{ base }/good-day.mp4' poster='#{ base }/good-day-poster.jpg')
      a(href="https://www.youtube.com/watch?v=AxxRBRHzJsU" target="_blank") 
        p VR YouTuber BotanicSage dances effortlessly to KK Slider's cover of Ice Cube's Good Day 
      p 2 October 2018

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[em We shape our tools and thereafter our tools shape us]. We ignore the rise of these platforms at our peril. #[label(for="toggleFootnotes") VR-headsets registered on the gaming platform Steam are up 80% year-over-year]. Despite or perhaps because of this, the bridge between the real and virtual world is wider in other ways. Data connectivity, hardware costs and even physical, playable space are class-based economic luxuries that determine who exists in this frontier, and who is excluded. Perhaps, amongst the digital mausoleums of ecologies lost, amongst the new attempts to grapple with deceleration and the shrinking range of industrialized transport, we will be drawn into the open world and find answers or solace in its mechanics. If this happens, we must understand the economic costs of the demands of the open world and it’s bridge to the real world. We must not treat this bridge as we treated the web before it. The politics of #[label(for="toggleFootnotes") gender, sexuality, ecological terraforming, access and class] all apply here, drawn from the politics and beliefs of player collectives, world designers, software publishers, platform operators and hardware manufacturers.
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"site", link:"https://www.pcguide.com/news/steam-user-survey-for-may-2020-reveals-big-jump-in-vr-headset-ownership/",  title:"Steam User survey for May 2020 reveals big jump in VR headset ownership", source:"Lewie Procter", date:"2 June 2020" })
      != partial("../../_partials/pub/note", { type:"paper", link:"https://academic.oup.com/jcmc/article/19/4/824/4067546",  title:"Living the VirtuReal: Negotiating Transgender Identity in Cyberspace", source:"Avi Marciano", platform: "Journal of Computer-Mediated Communication", date:"1 July 2014" })
      != partial("../../_partials/pub/note", { type:"event", link:"https://www.youtube.com/watch?v=5eBJEx7fDnA",  title:"Afrofuturism: Reclaiming Cyberspace", source:"Eva Pascoe, Douglas Rushkoff, DJ Spooky, David Bering-Porter & Derek Richards", date:"20 October 2020" })
      != partial("../../_partials/pub/note", { type:"paper", link:"https://www.mitpressjournals.org/doi/abs/10.1162/pres.1994.3.3.193?journalCode=pres",  title:"Use of a Two-Class Model to Analyze Applications and Barriers to the Use of Virtual Reality by People with Disabilities", source:"Gregg C. Vanderheiden and John Mendenhall", platform:"MIT", date:"13 March 2006" })      
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p Whether #[label(for="toggleFootnotes") attending a virtual Furcon], or navigating a hyperreal open world, we must consider ourselves as inhabiting not a real or online world, but a bridge between the two, one driven by politics and class and whose rules are not yet settled. As we gaze upon the open world, full of lo-fi creativity, or hyper-real uncanny detail, we must see these spaces and their interfaces as essential new frontiers and resist immature groupthink of the 90s’ vision of a virtual world.
    .lyt-fn
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=8jN1biZOw6Q",  title:"VirtualFurence Opening Trailer", source:"Eurofurence", platform:"VRChat", date:"August 2020" })

  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[em The future is not a Zoom call and it is not a Facebook account]. The social web we are confined to today is a #[label(for="toggleFootnotes") corrupted, bloated, paranoid mess of conspiracy theories]. Their desire to force #[label(for="toggleFootnotes") inferior copies of our identities and experiences into digital space] is a sickness that must be eradicated. That we grapple with this incarnation of the digital realm indicates a cartel in decline whose reign draws to an end. In its place is a vacuum. The open worlds and their bridges to ours are not yet claimed. These are contested spaces. #[em Never trust someone who says the internet is boring]. The internet, its engines and its hardware have never been weirder. And as we enter virtual beauty against the backdrop of ecological decay, understanding these bridges has never been more urgent.
    .lyt-fn.ma-reg
      != partial("../../_partials/pub/note", { type:"site", link:"https://arstechnica.com/tech-policy/2020/11/zoom-lied-to-users-about-end-to-end-encryption-for-years-ftc-says/",  title:"Zoom lied to users about end-to-end encryption for years, FTC says", source:"Jon Brodkin", date:"9 November 2020" })
      != partial("../../_partials/pub/note", { type:"site", link:"https://ffwd.medium.com/all-of-youtube-not-just-the-algorithm-is-a-far-right-propaganda-machine-29b07b12430",  title:"All of YouTube, Not Just the Algorithm, is a Far-Right Propaganda Machine", source:"Becca Lewis ", platform: "FFWD", date:"8 January 2020" })
      != partial("../../_partials/pub/note", { type:"video", link:"https://www.youtube.com/watch?v=cIA1AVpKt5c",  title:"Mark Zuckerberg demos Oculus technology against a background of human suffering in Puerto Rico", source:"Facebook", date:"November 2017" })
  .lyt-row
    .lyt-txt.mcw-reg.ma-reg
      p #[a(href="https://twitter.com/helveticade" target="_blank") Cade Diehm]
      p #[a(href="https://twitter.com/__intothinair" target="_blank") Edward Anthony]
      p.ma-sml Autumn 2020
      p This essay was originally presented with support from #[a(href="https://newmodels.io" target="_blank") New Models] at their Berlin event, #[a(href="https://newmodels.io/proprietary/nm-simsociety-cade-citarella-trauma-bar-und-kino" target="_blank") NM SIMSOCIETY].

  label(for="toggleFootnotes").ui-close Close Footnotes
  label(for="toggleFootnotes").ui-open Open Footnotes