meta(property='og:url' content='#{ getUrl() }')
meta(property='og:type' content='article')
meta(property='og:title' content='#{ buildPageTitle() }')
meta(property='og:description' content=' #{ description }')
meta(property='og:image' content='')

meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='#{ getUrl() }')
meta(name='twitter:creator' content='')
meta(name='twitter:title' content=' #{ buildPageTitle() }')
meta(name='twitter:description' content='#{ description }')
meta(name='twitter:image' content='')